@model IEnumerable<LanCenter.Models.FoodOrder>

@{
    ViewData["Title"] = "Ruokatilaukset";
}

<h2>Tilaukset</h2>

<p>
    <a asp-action="Create">Tee uusi</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FoodName)
        </th>
        <th>
            Tilaaja
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FoodName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.player.PlayerName)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.FoodOrderID">Muokkaa</a> |
            <a asp-action="Delete" asp-route-id="@item.FoodOrderID">Poista</a>
        </td>
    </tr>
}
</table>
