@model IEnumerable<LanCenter.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Points)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.PlayerID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.PlayerID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.PlayerID">Delete</a>
        </td>
    </tr>
}
</table>
